---
- name: Setup OpenVPN Client
  hosts: vpn_clients
  become: yes

  vars:
    openvpn_server_ip: "your-server-ip"
    openvpn_server_port: 1194
    openvpn_protocol: udp

  tasks:
    - name: Install OpenVPN
      package:
        name: openvpn
        state: present

    - name: Create OpenVPN client config directory
      file:
        path: /etc/openvpn/client
        state: directory
        mode: '0700'

    - name: Copy client certificate
      copy:
        src: certs/client.crt
        dest: /etc/openvpn/client/client.crt
        mode: '0600'

    - name: Copy client key
      copy:
        src: certs/client.key
        dest: /etc/openvpn/client/client.key
        mode: '0600'

    - name: Copy CA certificate
      copy:
        src: certs/ca.crt
        dest: /etc/openvpn/client/ca.crt
        mode: '0644'

    - name: Copy TLS auth key
      copy:
        src: certs/ta.key
        dest: /etc/openvpn/client/ta.key
        mode: '0600'

    - name: Create OpenVPN client configuration
      template:
        src: client.conf.j2
        dest: /etc/openvpn/client.conf
        mode: '0644'
      notify: restart openvpn client

    - name: Enable OpenVPN client service
      systemd:
        name: openvpn@client
        enabled: yes
        state: started

  handlers:
    - name: restart openvpn client
      systemd:
        name: openvpn@client
        state: restarted
